* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    border: 1px solid white;
    color: white;
    min-height: 50px;
}

.m-bot {
    margin-bottom: 20px;
}

.bg-blue {
    background-color: #006cfa;
}

.bg-green {
    background-color: #00e165;
}

.p-14 {
    padding: 14px;
}

.p-20 {
    padding: 20px;
}

.mn-h {
    min-height: 50px;
}

.white {
    color: white;
}

.bord {
    border: 1px solid white;
}

.j-end {
    justify-content: end;
}

.h {
    height: 100px;
}

.end {
    align-self: flex-end;
}

.al-cent {
    align-self: center;
}

.baseline {
    align-self: baseline;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.inline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}