* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    border: 1px solid white;
    color: white;
    min-height: 50px;
}

.m-bot {
    margin-bottom: 20px;
}

.bg-blue {
    background-color: #006cfa;
}

.bg-green {
    background-color: #00e165;
}

.p-14 {
    padding: 14px;
}

.mn-h {
    min-height: 50px;
}